<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    {% endblock %}
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{% static "assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/core.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/components.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/colors.css" %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="{% static "assets/js/plugins/loaders/pace.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/core/libraries/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/core/libraries/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/loaders/blockui.min.js" %}"></script>
    <!-- /core JS files -->
    <style>
        .tr_selected {
            background-color: dodgerblue;
        }
    </style>
</head>

<body>
<div class="navbar navbar-inverse bg-primary">
    <div class="navbar-header">
        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{% static "assets/images/image.png" %}" alt="">
                    <span>Capacitación</span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/"><i class="icon-switch2"></i> Cerrar Sesión</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default">
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a href="#" class="media-left"><img src="{% static "assets/images/image.png" %}"
                                                                class="img-circle img-sm" alt=""></a>
                            <div class="media-body">
                                <span id="usuario" class="media-heading text-semibold">Capacitación</span>
                                <div class="text-size-mini text-muted">
                                    <i id="tipo_cargo" class="icon-pin text-size-small"></i> &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->

                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Main -->
                            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i>
                            </li>
                            <li>
                                <a href="#"><i class="icon-stack"></i> <span>Capacitación</span></a>
                                <ul>
                                    <li id="modulo_registro"><a href="{% url 'modulo_registro' %}">Modulo de Registro de
                                        Local</a>
                                    </li>
                                    <li id="distribucion"><a href="{% url 'distribucion' %}">Modulo Distribucion de
                                        PEA</a></li>
                                    <li id="asistencia"><a href="{% url 'asistencia' %}">Modulo de
                                        Asistencia</a></li>
                                    <li id="notas"><a href="{% url 'evaluacion' %}">Modulo de Registro de Notas y
                                        Resultado</a>
                                    </li>
                                    <li id="reportes">
                                        <a href="#"><i class="icon-droplet2"></i> <span>Modulo de Reportes</span></a>
                                        <ul>
                                            <li><a href="{% url 'reporte:directorio_locales' %}">Directorio de
                                                Locales</a>
                                            </li>
                                            <li><a href="{% url 'reporte:numero_aulas_coberturadas_por_curso' %}">Numero
                                                de Aulas Coberturadas por Curso</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- /main -->
                        </ul>
                    </div>
                </div>

                <!-- /main navigation -->
            </div>
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span
                                class="text-semibold">{{ titulo_padre }}</span> {{ titulo_hijo }}</h4>
                    </div>
                </div>
            </div>
            <!-- /page header -->
            <!-- Content area -->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->

</body>
<script>
    var pathArray = location.href.split('/');
    var protocol = pathArray[0];
    var host = pathArray[2];
    BASEURL = protocol + '//' + host;
    BASE_URL = protocol + '//' + host + '/';
    session = JSON.parse(localStorage.getItem('usuario'));


    function setSelect(id, json, select2 = false) {
        $('#' + id).find('option').remove();
        let html = '';
        $.each(json, function (key, val) {
            html += `<option value="${val.id}">${val.text}</option>`
        });
        $('#' + id).html(html);
        select2 ? $('#' + id).select2() : '';
    }
    function setSelect_v2(id, json, keys = [], select2 = false) {
        console.log(keys);
        $('#' + id).find('option').remove();

        let html = '<option>Seleccione</option>';

        $.each(json, function (key, val) {
            if (typeof val == 'string') {
                html += `<option value="${val}">${val}</option>`
            } else {
                if (typeof keys[1] == 'object') {
                    html += `<option value="${val[keys[0]]}">${val[keys[1][0]]} - ${val[keys[1][1]]}</option>`;
                } else {
                    html += `<option value="${val[keys[0]]}">${val[keys[1]]}</option>`;
                }
            }
        });
        $('#' + id).html(html);
        select2 ? $('#' + id).select2() : '';
    }
    function setTable2(id, json, params, datatable = false, datatable_params = {}) {
        let html = '';
        $('#' + id).find('tbody').empty();
        if (datatable) {
            ('#' + id).DataTable({datatable_params})
            ('#' + id).dataTable().fnDestroy();
        }
        if (json.html) {
            html = json.html;
        } else {
            $.each(json, (key, val) => {
                html += '<tr>';
                html += `<td>${key + 1}</td>`;
                $.each(params, (i, a) => {
                    if (params[i].pk) {
                        html += `<td><ul class="icons-list"><li class="text-primary-600"><a data-popup="tooltip" title="Mostrar PEA por Aula"  onclick="getPEA(${val[params[i].pk]})"><i class="icon-pencil7"></i></a></li>`;
                        if (session.curso == '5') {

                        } else {
                            if (parseInt(val[params[2]]) < parseInt(val[params[3]])) {
                                html += `<li class="text-danger-600"><a data-popup="tooltip" title="Redistribuir PEA" onclick="redistribuirAula(${val[params[i].pk]})" ><i class="icon-reload-alt"></i></a></li>`;
                            }
                        }
                        html += `</ul></td>`;
                    } else if (params[i]['cargo']) {
                        html += `<td>${val.id_cargofuncional.nombre_funcionario}</td>`;
                    } else {
                        html += `<td>${val[params[i]] == null ? 0 : val[params[i]]}</td>`;
                    }
                });
                html += '</tr>';
            });
        }

        $('#' + id).find('tbody').html(html);

        if (datatable) {
            ('#' + id).DataTable({datatable_params})
        }

        $('table tbody tr td button').on('click', event => {
            let selecteds = $('table tbody .tr_selected');
            $.each(selecteds, (key, val) => {
                $(val).removeClass('tr_selected');
            });
            $(event.target).parent().parent().addClass('tr_selected');
        });
        $('table tbody tr td ul li a').on('click', event => {
            let selecteds = $('table tbody .tr_selected');
            $.each(selecteds, (key, val) => {
                $(val).removeClass('tr_selected');
            });
            $(event.target).parent().parent().parent().parent().parent().addClass('tr_selected');
        });

        $('[data-popup]').tooltip({
            template: '<div class="tooltip"><div class="bg-slate-800"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div></div>'
        });
    }
    function setTable(id, json, params, datatable = false, datatable_params = {}) {
        let html = '';
        $('#' + id).find('tbody').empty();
        if (datatable) {
            ('#' + id).DataTable({datatable_params})
            ('#' + id).dataTable().fnDestroy();
        }
        if (json.html) {
            html = json.html;
        } else {
            $.each(json, (key, val) => {
                html += '<tr>';
                html += `<td>${key + 1}</td>`;
                $.each(params, (i, a) => {
                    if (params[i].pk) {
                        html += `<td><button onclick="getPEA(${val[params[i].pk]})" type="button">PEA</button></td>`;
                    } else if (params[i]['cargo']) {
                        html += `<td>${val.id_cargofuncional.nombre_funcionario}</td>`;
                    } else {
                        html += `<td>${val[params[i]] == null ? 0 : val[params[i]]}</td>`;
                    }
                })

                html += '</tr>';
            });
        }

        $('#' + id).find('tbody').html(html);

        if (datatable) {
            ('#' + id).DataTable({datatable_params})
        }

        $('table tbody tr td button').on('click', event => {
            let selecteds = $('table tbody .tr_selected');
            $.each(selecteds, (key, val) => {
                $(val).removeClass('tr_selected');
            });
            $(event.target).parent().parent().addClass('tr_selected');
        });
    }

    function alert_confirm(callback, title = 'Está seguro de Guardar?', type = 'success') {
        swal({
            title: title,
            text: '',
            type: type,
            showCancelButton: true,
            confirmButtonColor: "#EF5350",
            confirmButtonText: "Si!",
            cancelButtonText: "No!",
            closeOnConfirm: true,
            closeOnCancel: true,
            showLoaderOnConfirm: true
        }, confirm => {
            if (confirm) {
                callback()
            }
        });
    }

    function findInObject2(obj, search, key_object) {
        "use strict";
        let res = {};
        if (obj.length > 0) {
            $.each(obj, (key, val) => {
                if (val[key_object] == search) {
                    res = val;
                }
            });
        }
        return res;
    }


</script>

{% block js %}
{% endblock %}
<script>

    /* DataTable extends */
    $.extend(true, $.fn.dataTable.defaults, {
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
    /* Create an array with the values of all the input boxes in a column */
    $.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
            return $('input', td).val();
        });
    }

    /* Create an array with the values of all the input boxes in a column, parsed as numbers */
    $.fn.dataTable.ext.order['dom-text-numeric'] = function (settings, col) {
        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
            return $('input', td).val() * 1;
        });
    }

    /* Create an array with the values of all the select options in a column */
    $.fn.dataTable.ext.order['dom-select'] = function (settings, col) {
        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
            return $('select', td).val();
        });
    }

    /* Create an array with the values of all the checkboxes in a column */
    $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
            return $('input', td).prop('checked') ? '1' : '0';
        });
    }
    /*   */


    Array.prototype.diff = function (a) {
        return this.filter(function (i) {
            return a.indexOf(i) < 0;
        });
    };
    if (!Array.prototype.filter) {
        Array.prototype.filter = function (fun /*, thisp*/) {
            var len = this.length >>> 0;
            if (typeof fun != "function")
                throw new TypeError();

            var res = [];
            var thisp = arguments[1];
            for (var i = 0; i < len; i++) {
                if (i in this) {
                    var val = this[i]; // in case fun mutates this
                    if (fun.call(thisp, val, i, this))
                        res.push(val);
                }
            }
            return res;
        };
    }

    $(function () {
        $('[data-popup]').tooltip({
            template: '<div class="tooltip"><div class="bg-teal"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div></div>'
        });
    });

    if (session.rol == 1) {
        $('#asistencia').hide();
        $('#notas').hide();
    } else if (session.rol == 2) {
        $('#modulo_registro').hide();
        $('#distribucion').hide();
    }
    if (session.curso == 4 || session.curso == 6) {
        $('#notas').hide();
    }

    function getDepartamentos() {
        let array_departamentos = [{id: '', text: 'Seleccione'}];
        $.getJSON(`${BASE_URL}departamentos`, function (data) {
            $.each(data, function (key, val) {
                array_departamentos.push({id: val.ccdd, text: val.departamento})
            });
            $('#departamentos').select2({data: array_departamentos});
            $('#departamentos').val(session.ccdd).trigger('change');
        });
    }
    function getProvincias() {
        let array_provincias = [{id: '', text: 'Seleccione'}];
        var ccdd = $('#departamentos').val();
        $.getJSON(`${BASE_URL}provincias/${ccdd}`, function (data) {
            $.each(data, function (key, val) {
                array_provincias.push({id: val.ccpp, text: val.provincia})
            });
            $('#provincias').select2({data: array_provincias});
            $('#provincias').val(session.ccpp).trigger('change');
        });
    }

    function getDistritos() {
        let array_distritos = [{id: '', text: 'Seleccione'}];
        var ccdd = $('#departamentos').val();
        var ccpp = $('#provincias').val();
        if (ccpp != 'Seleccione' & ccpp != undefined) {
            $.getJSON(`${BASE_URL}distritos/${ccdd}/${ccpp}`, function (data) {
                $.each(data, function (key, val) {
                    array_distritos.push({id: val.ccdi, text: val.distrito})
                });
                $('#distritos').select2({data: array_distritos});
                $('#distritos').val(session.ccdi).trigger('change');
            });
        }

    }

    function getZonas() {
        "use strict";
        let array_zonas = [{id: '', text: 'Seleccione'}];
        var ccdd = $('#departamentos').val();
        var ccpp = $('#provincias').val();
        var ccdi = $('#distritos').val();
        $.getJSON(`${BASE_URL}zonas/${ccdd}${ccpp}${ccdi}/`, function (data) {
            $.each(data, function (key, val) {
                array_zonas.push({id: val.ZONA, text: val.ZONA})
            });
            $('#zona').select2({data: array_zonas});
            $('#zona_ubicacion_local').select2({data: array_zonas});
            if (session.curso != '1') {
                $('#zona').val(session.zona).trigger('change');
            }
        });
    }

</script>
</html>