{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="panel panel-primary panel-bordered" id="no_distrital_filtro">
        <div class="panel-heading">
            <h5 class="panel-title">Seleccione su local y aula</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Local</label>
                        <select id="local" class="select form-control">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Aula</label>
                        <select id="aulas" class="select form-control">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>
                <div style="display: none" id="div_fechas" class="col-md-2">
                    <div class="form-group">
                        <label>Fechas</label>
                        <select id="fechas" class="select form-control">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="btn_getpea" class="btn btn-primary">Mostrar PEA</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary panel-bordered">
            <div class="panel-heading">
                <h5 class="panel-title">Registro de notas</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li>
                            <a data-action="collapse"></a>
                        </li>
                        <li>
                            <a data-action="close"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="pull-left">
                        <button id="btn_save_notas" onclick="saveNotas()" class="btn btn-primary">Guardar</button>
                        <button type="button" id="btn_cerrar_curso" onclick="cerrarCurso()"
                                class="btn bg-info-700 btn-raised active legitRipple">CERRAR CURSO
                        </button>
                    </div>
                    <div class="pull-right">
                        <a href="#" download="" id="btn_exportar_evaluacion" class="btn btn-primary">Exportar</a>
                    </div>

                </div>
                <div class="row">
                    <div class="table-responsive" id="no_distrital">
                        <table id="tabla_pea" class="table table-responsive table-bordered">
                            <caption>
                                <center><h4 class="text-center">CENSOS NACIONALES 2017: XII DE POBLACIÓN, VII DE
                                    VIVIENDA Y III DE COMUNIDADES INDÍGENAS</h4>
                                    <h4 class="text-center">CENSO EXPERIMENTAL</h4>
                                    <h4 id="descripcion_curso_aula" class="text-center"></h4>
                                    <h4 class="text-center">REGISTRO DE NOTAS</h4>
                                    <h4 id="descripcion_aula" class="text-center"></h4></center>
                            </caption>
                            <thead>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table id="tabla_reporte" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Provincia</th>
                                <th>Distrito</th>
                                <th>Apellidos y Nombres</th>
                                <th>DNI</th>
                                <th>Cargo</th>
                                <th>Zona</th>
                                <th>Nota Promedio Final</th>
                                <th>Apto</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="clone" style="display: none">

    </div>
{% endblock %}



{% block js %}
    <script type="text/javascript" src="{% static "assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/loaders/blockui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/selects/select2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/notifications/sweet_alert.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/jquery.battatech.excelexport.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/core/app.js" %}"></script>
    <script type="text/javascript" src="{% static "dist/capacitacion/evaluacion/evaluacion.js" %}"></script>
    <script>
        $('#notas').addClass('active');
    </script>
{% endblock %}